<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="logPath">log</property>
    </properties>
    <Appenders>
        <RollingFile name="RollingFile" filename="${logPath}/automation.log"
                     filepattern="${logPath}/%d{yyyyMMddHHmmss}-automation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50 MB"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="RollingFile-error" filename="${logPath}/error.log"
                     filepattern="${logPath}/%d{yyyyMMddHHmmss}-error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ssSS} [%t] %-5level  %c{1}:%L - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFile-error"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
