<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.dbconnector.mapper.CustomerMapper">

    <select id="getOrders" resultType="map">
        SELECT *
        from `order`
        where 1 = 1
    </select>

    <select id="getAccounts" resultType="map">
        SELECT *
        from `account`
        where 1 = 1
    </select>
</mapper>