<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>
        excel
    </title>
</head>

<body>
<div id=app>

    <h1>hhhhhh</h1>

    <form action="/excel/upload" method="post" enctype="multipart/form-data">
        用户名：<input type="text" name="username"/>
        文件上传：<input type="file" name="file"/>

        <input type="submit" value="提交"/>
    </form>

    商品数据：<a href="/excel/download">文件下载</a>
</div>
</body>

</html>