<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>http://13e4315a3e0f44b2b41e3623441ae6bd@localhost:9000/7</dsn>
            <!--<shutdownTimeout>2000</shutdownTimeout>-->
            <!--<flushTimeoutMillis>15000</flushTimeoutMillis>-->
            <!--<debug>false</debug>-->
            <!--<maxBreadcrumbs>100</maxBreadcrumbs>-->
            <!--<release>1.0.0</release>-->
            <!--<environment>production</environment>-->
            <!--<sampleRate>1.0</sampleRate>-->
            <!--<attachThreads>false</attachThreads>-->
            <!--<attachStacktrace>false</attachStacktrace>-->
            <!--&lt;!&ndash;<serverName>host-4</serverName>&ndash;&gt;-->
            <!--<connectionTimeoutMillis>5000</connectionTimeoutMillis>-->
            <!--<readTimeoutMillis>5000</readTimeoutMillis>-->
        </options>
        <!--推送日志最小级别-->
        <minimumEventLevel>INFO</minimumEventLevel>
        <!--成为面包屑最小级别，minimumEventLevel需要小与minimumBreadcrumbLevel的级别才会推送-->
        <minimumBreadcrumbLevel>DEBUG</minimumBreadcrumbLevel>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SENTRY"/>
    </root>
</configuration>